body {
    font-size: 1rem;
    max-width: 800px;
    margin: auto;
}
  
.renameTextField {
    display: grid;
    gap: 10px;
}
  
input {
    padding: 3px;
    font-size: 1rem;
    min-width: 6rem;
}
  
.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.submit button{
    padding: 3px;
    font-size: 1rem;
    min-width: 6rem;
}

th {
    text-align: left;
}
